[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
pyyaml = "*"
pillow = "*"
scipy = "*"
opencv-python = "*"

[requires]
python_version = "3.10"

[scripts]
init = "pre-commit install"
check = "pre-commit run --all-files"

[dev-packages]
pre-commit = "*"
